@import './base.css';

ul {
  list-style: none;
}
body{
  background-color: var(--beige);
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: "Bona Nova SC", serif;
}
a {
  text-decoration: none;
  color: inherit;
}

.p-datepicker-panel {
  background-color: var(--beige) !important;
  color: var(--taupe) !important;
  border: 1px solid var(--taupe) !important;
  border-radius: 5px !important;
  padding: 10px !important;
}

.p-select-overlay {
  background-color: var(--beige) !important;
  color: var(--taupe) !important;
  border: 1px solid var(--taupe) !important;
  border-radius: 5px !important;
  padding: 10px !important;
}

.custom-datepicker .p-datepicker-header {
  background-color: var(--taupe);
  color: white;
}

.custom-datepicker .p-datepicker-today,
.custom-datepicker .p-datepicker-current-day {
  background-color: #b17768;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.custom-datepicker .p-datepicker-next,
.custom-datepicker .p-datepicker-prev {
  color: white;
}

.custom-datepicker .p-datepicker-cell:hover {
  background-color: var(--taupe);
  color: white;
}
.p-disabled {
  text-decoration: line-through; /* Style rayé */

}
.p-datepicker-day-cell:hover {
  background-color: var(--taupe);
  border-radius: 10px;
  color: white;
}
@media (min-width: 500px) {
  body {
    background-color: white;
  }
}
.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.75rem; /* Adapté pour les appareils mobiles */
}

.p-datatable-sm .p-datatable-thead > tr > th {
  color: var(--taupe);
  font-size: 1rem;
  font-weight: bold;
}

.p-datatable-sm .p-datatable-tbody > tr > td {
  font-size: 0.9rem;
  color: var(--taupe);
  background: rgba(245, 223, 198, 0.82);
  border-bottom: 1px solid var(--taupe);
}

.p-datatable-sm .p-column-title {
  display: none;
}